extends layout

block content
  ul.menu
    a(href="About")
      li About
    p |
    a(href="Portfolio")
      li Portfolio
    
  .background
    .container
      .col-sm-6.banner
        h1= title
        p Welcome

  .footer
    a(href="About")
      span(aria-hidden="true",data-icon="&#xea86;",class="icon-github")
    a(href="About")
      span(aria-hidden="true",data-icon="&#xea96;",class="icon-twitter")
    a(href="About")
      span(aria-hidden="true",data-icon="&#xeab0;",class="icon-mail4")

