body {
  padding: 10px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a:hover {
  text-decoration: none !important;
}
.banner {
  background-color: #1e2508;
  color: #fff;
  margin: 15px 0px;
}
.background {
  background-image: url("/images/Background.jpg");
  background-position: center;
  height: 80vh;
  background-size: cover;
}
.menu {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}
.menu li {
  display: inline-block;
  padding: 5px;
  font-size: 24px;
  color: #bada55 !important;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.menu li:hover {
  color: #657c1b !important;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.menu p {
  display: inline-block;
  padding: 5px;
  font-size: 24px;
  color: #657c1b;
}
.lineSpace {
  width: 100%;
  height: 20px;
}
.lineSpace:hover .line1 {
  height: 20px;
  -webkit-transition: 0.2s ease-in-out 0.5s;
  transition: 0.2s ease-in-out 0.5s;
}
.lineSpace:hover .line2 {
  height: 20px;
  -webkit-transition: 0.2s ease-in-out 0.8s;
  transition: 0.2s ease-in-out 0.8s;
}
.lineSpace:hover .line3 {
  height: 20px;
  -webkit-transition: 0.2s ease-in-out 1.1s;
  transition: 0.2s ease-in-out 1.1s;
}
.lineSpace:hover .line4 {
  height: 20px;
  -webkit-transition: 0.2s ease-in-out 1.4s;
  transition: 0.2s ease-in-out 1.4s;
}
.lineSpace .line1 {
  width: 20px;
  height: 10px;
  background-color: #55868c;
  position: absolute;
  right: 0px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.lineSpace .line2 {
  width: 40px;
  height: 10px;
  background-color: #eec584;
  position: absolute;
  right: 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.lineSpace .line3 {
  width: 60px;
  height: 10px;
  background-color: #bada55;
  position: absolute;
  right: 60px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.lineSpace .line4 {
  width: 80px;
  height: 10px;
  background-color: #7f636e;
  position: absolute;
  right: 120px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.footer {
  text-align: center;
  margin-top: 20px;
}
.footer span {
  font-size: 32px;
  margin: 0px 20px;
  color: #bada55;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer span:hover {
  color: #657c1b;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.card {
  background-color: #dcecaa;
  color: #000;
  text-align: center;
  padding: 20px;
}
.cardImg {
  width: 100%;
  max-width: 220px;
}
.center {
  text-align: center;
}
@media screen and (min-width: 600px) {
  .menu {
    text-align: left;
  }
}
