mainCol = #bada55
darkMainCol = darken(mainCol,50%)
backgroundCol = darken(mainCol,85%)

body
  padding: 10px 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a:hover
  text-decoration: none !important

.banner
  background-color: backgroundCol
  color: white
  margin: 15px 0px;

.background
  background-image: url("/images/Background.jpg")
  background-position: center
  height: 80vh
  background-size: cover

.menu
  list-style:none
  padding-left: 0px
  text-align:center
  li
    display:inline-block
    padding:5px
    font-size:24px
    color: mainCol !important
    -webkit-transition: color 0.2s
    transition: color 0.2s
    &:hover
      color: darkMainCol !important
      -webkit-transition: color 0.2s
      transition: color 0.2s
  p
    display: inline-block
    padding:5px
    font-size:24px
    color: darkMainCol

.footer
  position:absolute
  bottom:5px
  text-align: center
  margin-top: 20px
  span
    font-size: 32px
    margin: 0px 20px
    color: mainCol
    -webkit-transition: color 0.2s
    transition: color 0.2s
    &:hover
      color: darkMainCol
      -webkit-transition: color 0.2s
      transition: color 0.2s

 @media screen and (min-width: 600px)
    .menu
      text-align:left