@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?pjvp7i');
    src:    url('/fonts/icomoon.eot?pjvp7i#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?pjvp7i') format('truetype'),
        url('/fonts/icomoon.woff?pjvp7i') format('woff'),
        url('/fonts/icomoon.svg?pjvp7i#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-mail4:before {
    content: "\ea86";
    font-family: 'icomoon';
}
.icon-twitter:before {
    content: "\ea96";
    font-family: 'icomoon';
}
.icon-github:before {
    content: "\eab0";
    font-family: 'icomoon';
}
