body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.banner
  background-color: black
  color: white
  margin: 15px 0px;

.background
    background-image: url("/images/Background.jpg")
    background-position: center
    height: 80vh
    background-size: cover