extends layout

block content
  ul.menu
    a(href="/")
      li Home
    p |
    a(href="/About")
      li About
        p |
    a(href="/Portfolio")
      li Portfolio
    
  .background
    .container
      .col-sm-6.banner
        h1= title
        p Welcome
        .lineSpace
          .line1
          .line2
          .line3
          .line4

  .footer
    a(href="https://github.com/joezcool02")
      span(aria-hidden="true",data-icon="&#xea86;",class="icon-github")
    a(href="https://twitter.com/JosephAllen1234")
      span(aria-hidden="true",data-icon="&#xea96;",class="icon-twitter")
    //- a(href="About")
      span(aria-hidden="true",data-icon="&#xeab0;",class="icon-mail4")

