extends layout

block content
  ul.menu
    a(href="/")
      li Home
    p |
    a(href="/About")
      li About
        p |
    a(href="/Portfolio")
      li Portfolio
    
    .container
      .row
        .col-sm-6
          h2 Retro Grid
          p Made for Future Artists Pop up arcade. Originally was going to use a normal monitor but with Pixel art the more "pixely" the better
        .col-sm-6
          iframe(width="560", height="315", src="https://www.youtube.com/embed/lhCKQg59Acc", frameborder="0", allowfullscreen)

  .footer
    a(href="https://github.com/joezcool02")
      span(aria-hidden="true",data-icon="&#xea86;",class="icon-github")
    a(href="https://twitter.com/JosephAllen1234")
      span(aria-hidden="true",data-icon="&#xea96;",class="icon-twitter")
    //- a(href="About")
      span(aria-hidden="true",data-icon="&#xeab0;",class="icon-mail4")

